<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SiteBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SiteBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SiteBlocker.Properties.Settings>
            <setting name="NotifyAvailable" serializeAs="String">
                <value>True</value>
            </setting>
        </SiteBlocker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SiteBlocker.Properties.Settings>
            <setting name="PaymentFailedUrl" serializeAs="String">
                <value>http://dl.dropbox.com/u/3256341/payment/failed/page.html</value>
            </setting>
            <setting name="PaymentPassedUrl" serializeAs="String">
                <value>http://dl.dropbox.com/u/3256341/payment/passed/page.html</value>
            </setting>
            <setting name="PaymentUrl" serializeAs="String">
                <value>http://dl.dropbox.com/u/3256341/payment/page.html</value>
            </setting>
        </SiteBlocker.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
